/*common*/
@import "distributor/common";
/*common*/

/*menu*/
@import "distributor/menu";
/*menu*/

/*header*/
@import "distributor/header";
/*header*/

/*hero*/
@import "distributor/hero";
/*hero*/ 

/*about*/
@import "distributor/about";
/*about*/ 

/*packages*/
@import "distributor/packages";
/*packages*/ 

/*booking_discount*/
@import "distributor/booking_discount";
/*booking_discount*/ 

/*testimonial*/
@import "distributor/testimonial";
/*testimonial*/ 

/*Contact*/
@import "distributor/contact";
/*Contact*/

/*footer*/
@import "distributor/footer";
/*footer*/

























